[user]
	email = daniel.fullmer@byu.edu
	name = Daniel Fullmer
[push]
	default = simple
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[github]
	user = danielfullmer
