[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "base16-xresources"]
	path = base16-xresources
	url = https://github.com/chriskempson/base16-xresources
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
