[user]
	email = daniel.fullmer@byu.edu
	name = Daniel Fullmer
[push]
	default = simple
[branch]
	autosetuprebase = always
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
