[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".fonts/powerline-fonts"]
	path = .fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule ".base16-shell"]
	path = .base16-shell
	url = https://github.com/chriskempson/base16-shell
