general {
        output_format = "i3bar"
        colors = true
        interval = 5
}

wireless _first_ {
        format_up = "W: (%quality at %essid, %bitrate) %ip"
        format_down = "W: down"
}

ethernet _first_ {
        # if you use %speed, i3status requires the cap_net_admin capability
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

memory {
        format = "%used / %total"
}

cpu_usage {
        format = "%usage"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S %Z"
}

load {
        format = "%5min"
}

disk "/" {
        format = "%free"
}
